.main-app {
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  padding: 18px 24px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



@media (max-width: 600px) {
  .main-app {
    height: 100%;
  }
}

@media (max-width: 400px) {
  .main-app {
    height: auto;
  }
}
